name: Test React CI/CD
on: [push]
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
      
      - name: Install dependencies
        run: yarn
      
      - name: Test
        run: yarn test
      
      - name: Configure AWS credentials
        id: config-aws-credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET }}
          aws-region: ap-east-1

      - name: Login ECR
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build Docker image
        run: docker build -t 669336776822.dkr.ecr.ap-east-1.amazonaws.com/test-react:${{ github.sha }} .

      - name: Push image
        id: build-image
        run: |
          docker push 669336776822.dkr.ecr.ap-east-1.amazonaws.com/test-react:${{ github.sha }}
          echo "image=669336776822.dkr.ecr.ap-east-1.amazonaws.com/test-react:${{ github.sha }}" >> $GITHUB_OUTPUT
          docker tag 669336776822.dkr.ecr.ap-east-1.amazonaws.com/test-react:${{ github.sha }} 669336776822.dkr.ecr.ap-east-1.amazonaws.com/test-react:latest
          docker push 669336776822.dkr.ecr.ap-east-1.amazonaws.com/test-react:latest

      - name: Fill in the new image ID in the Amazon ECS task definition
        id: task-def
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition: task-definition.json
          container-name: react-react
          image: ${{ steps.build-image.outputs.image }}

      - name: Deploy Amazon ECS task definition
        uses: aws-actions/amazon-ecs-deploy-task-definition@v1
        with:
          task-definition: ${{ steps.task-def.outputs.task-definition }}
          service: test-react
          cluster: test-react
          wait-for-service-stability: true
